* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Playfair Display";
}

.links{
    font-size: 16px;
    letter-spacing: 16px;
    font-weight: 400;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
}
.nav-links{
  font-size: 16px;
    letter-spacing: 16px;
    font-weight: 400;
    z-index: 1;
    display: none;
    gap: 40px;
    text-align: center;
    align-items: center;
}
.nav-links a {
  width: fit-content;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}
.links a{
  width: fit-content;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}
.links a:hover::after{
  width: 100%;
}


@media screen and (min-width: 1024px) {
  .nav-links{
    display: flex;
  }
    .links {
      font-size: 24px;
      letter-spacing: 16px;
      font-weight: 400;
      z-index: 1;
      display: flex;
      flex-direction: row;
      gap: 96px;
    }
}